{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
	<div class="div-center">
		<h1>Image Selection</h1>
		<form action="/" method="POST" enctype="multipart/form-data">
			<input type="file" name="image" accept="image/*">
			<button type="submit">Submit</button>
		</form>
	</div>
{% endblock %}
